.companyDetails {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 50px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin:30px 100px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
  }
  
  .infoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 24px;
  }
  
  .infoItem {
    display: flex;
    flex-direction: column;
  }
  
  .infoItem strong {
    font-size: 14px;
    color: #666;
    margin-bottom: 4px;
  }
  
  .infoItem span {
    font-size: 16px;
  }
  
  .applyButton {
    display: inline-flex;
  align-self: center;
  justify-content: center;
  background-color: #ff7043;
  color: #fff;
  padding: 12px 16px;
  border-radius: 24px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  }
  
  .applyButton:hover {
    background-color: #e6643d;
  }
  
  .applyButton svg {
    margin-left: 8px;
  }
  