@import "tailwindcss";
/* Close Button */
.close-button {
  position: absolute;
  top: 30px;
  right: 225px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  font-size: 24px;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

/* Hover State */
.close-button:hover {
  transform: scale(1.2); /* Proper numeric multiplier */
  color: rgba(245, 112, 70, 1); /* Optional: Add a color change effect */
}

.loading-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.loading-animation img {
  width: 150px;
  height: 150px;
}

.loading-animation p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #555;
}
